.formulario {
    width: 50%;
}

.boton-color{
    background-color: rgb(95, 187, 83);
}

footer{
    background-color: rgb(51, 75, 129);
    margin-top: 8px;
    padding-top: 8px;
  }

  h3, p{
    text-align: center;
    padding-top: 30px;
  }

  .parrafo{
    padding-bottom: 20px;
  }
  
  .descuento{
    font-weight: bolder;
  }